//////////////////TOP-MOVIE/////////////////////////////

.top-movie {
  

    &__box {
        
        border-bottom: 1px solid #868489;
        color: #ddd;
        padding: 1rem 1.5rem;
        display: block;
        background-color: $color-grey-dark-3;
        
    }

    &__box-carousel {
        
        width: 100%;
        
    }

    &__content-carousel {
        overflow: hidden;
        position: relative;
    }

    &__content-btn {
        width: 3rem;
        height: 5rem;
        background-color: rgba($color-black, $alpha: .5);
        
    
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 30;
        transform: translateY(-50%);

        display: flex;
        justify-content: center;
        align-items: center;
        
       
     
    }

   

    &__content-btn::after {
        content: '';
        width: 2rem;
        height: 2rem;
        margin-left: .5rem;
        background-color: transparent;
        transform: rotate(45deg);

        border-width: 0 0 .5rem .5rem;
        border-color: transparent transparent $color-white $color-white;
        border-style: solid;

     
    }

    &__content-btn--left {
        margin-left: -0.8rem;
        right: 0;
        left: auto;
        
    }

    &__content-btn--left::after {
        transform: rotate(225deg);
        margin-left: -0.5rem;
      
    }

    &__list-carousel {
        height: 100%;
        list-style: none;
        position: relative;
        
        
        display: flex;



    }

    &__item-carousel {
        min-width: calc((100% - 3*1.7rem)/4);
        width: calc((100% - 3*1.7rem)/4);
        height: 100%;
        background-image: url(/asset/img/movie-1.jpg);
        background-size: cover;
        margin-right: 1.7rem;
        
       
    }

    &__link:link,
    &__link:visited {
      text-decoration: none;
    }

    &__content-movie {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: white;
    }

    &__quality,.robbin {

        align-self: start;
        height: 2.5rem;
        padding: 0.5rem;
        margin:.4rem 0 auto .5rem;
        font-size: 1.1rem;
        font-weight: bold;
        background: $color-red;
      

        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;

        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: -12px;
            z-index: 10;

            width: 0;
            height: 0;
            border-color: transparent transparent transparent $color-red;
            border-style: solid;
            border-width: 1.25rem 0 1.25rem 1.25rem;
            margin-left: 1rem;
            
        }
    }
    
    &__title {
        background-color: rgba($color-black, $alpha: .8);
        padding: 1rem 1rem;
        margin-bottom: 1.5rem;
    }

    

}