//////////////////////////////////////////////////////////////////////////////////
///// TYPROGRAPHY

body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark;
    background-color: $color-grey-dark-2;
}

.heading-primary {
    
    padding-right: 3rem;
    color: $color-white;
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    
    &--main {
        font-size: 2.5rem;
        text-transform: uppercase;
        font-weight: 600;
    }

    &--sub {
        font-size: 1rem;
    }
}

.heading-secondary {
    
    border-bottom: 1px solid rgba($color-white, $alpha: .2);
    box-shadow: inset 0 -.2rem 0 rgba($color-black, $alpha: .2);

    margin-bottom: .5rem;
    padding: 1rem;

    display: flex;
    justify-content: space-between;
    
    &--main {
        font-size: 2rem;
        font-weight: 600;
        text-transform: uppercase;
        color: $color-yellow;
    }

    &--sub {
        
        display: inline-block;
    }
    
  

    &--sub-link:link,
    &--sub-link:visited {
        text-decoration: none;
        font-size: 1.4rem;
        color: $color-grey-dark-7;
        text-transform: none;
    }

    
}

.heading-secondary {
        

        &--sidebar {
         display: flex;
         justify-content: start;
         align-items: center;

        }

        &--sidebar-icon {
        color: red;
        font-size: 2rem;
        transform: rotate(25deg);
       
        & use {
            box-shadow: 0 1rem 1rem rgba($color-black, $alpha: 0.6);
        }
        
        }
}

.heading-tertiary {
    font-size: 1.4rem;
    color: $color-red-2;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.heading-tertiary--green {
    color: $color-green;
    font-size: 1.2rem;
}

.heading-tertiary--green:hover {
    color: $color-yellow;
}

.heading-fourth {
    font-size: 1.2rem;
    color: $color-white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.heading-fourth--grey{
    color: $color-grey-dark-4;
}

.heading-fourth--grey:hover {
    color: $color-white;
}