extends template-part/layout.pug

block title
        title Sản Phẩm
block heading
    h1.heading-primary.heading-primary--white Sản Phẩm
block title-2
    a(href="")
        p.banner__title-2 Sản Phẩm
    

    
        
        
