*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: Arial, sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  background-color: #323031; }

.heading-primary {
  padding-right: 3rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }
  .heading-primary--main {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 600; }
  .heading-primary--sub {
    font-size: 1rem; }

.heading-secondary {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #fceb08;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 -0.2rem 0 rgba(0, 0, 0, 0.2);
  margin-bottom: .5rem; }

.heading-tertiary {
  font-size: 1.4rem;
  color: #FF8040;
  text-transform: uppercase; }

.heading-fourth {
  font-size: 1.2rem;
  color: #fff; }

header {
  background: #000 url(/asset/img/header-bg.jpg) repeat-x; }

.header {
  max-width: 100rem;
  height: 7.5rem;
  margin: 0 auto;
  display: flex;
  justify-content: start;
  align-items: stretch; }

.top-movie {
  max-width: 100rem;
  width: 100%;
  margin: 0 auto;
  padding: 1rem; }

.bottom-movie {
  display: flex; }

.top-movie__box {
  border-bottom: 1px solid #868489;
  color: #ddd;
  padding: 1rem 1.5rem;
  display: block;
  background-color: #4F4E52; }

.top-movie__box-carousel {
  width: 100%; }

.top-movie__content-carousel {
  overflow: hidden;
  position: relative; }

.top-movie__content-btn {
  width: 3rem;
  height: 5rem;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 30;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center; }

.top-movie__content-btn::after {
  content: '';
  width: 2rem;
  height: 2rem;
  margin-left: .5rem;
  background-color: transparent;
  transform: rotate(45deg);
  border-width: 0 0 .5rem .5rem;
  border-color: transparent transparent #fff #fff;
  border-style: solid; }

.top-movie__content-btn--left {
  margin-left: -0.8rem;
  right: 0;
  left: auto; }

.top-movie__content-btn--left::after {
  transform: rotate(225deg); }

.top-movie__list-carousel {
  height: 100%;
  list-style: none;
  position: relative;
  left: 0;
  display: flex; }

.top-movie__item-carousel {
  min-width: calc((100% - 3*1.7rem)/4);
  width: calc((100% - 3*1.7rem)/4);
  height: 100%;
  background-image: url(/asset/img/movie-1.jpg);
  background-size: cover;
  margin-right: 1.7rem; }

.top-movie__link:link, .top-movie__link:visited {
  text-decoration: none; }

.top-movie__content-movie {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white; }

.top-movie__quality {
  width: 7rem;
  height: 2.5rem;
  padding: 0.5rem;
  margin: .4rem 0 auto .5rem;
  font-size: 1.1rem;
  font-weight: bold;
  background: #A21D0A;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  position: relative; }
  .top-movie__quality::after {
    content: '';
    position: absolute;
    top: 0;
    left: 84%;
    z-index: 10;
    width: 0;
    height: 0;
    border-color: transparent transparent transparent #A21D0A;
    border-style: solid;
    border-width: 1.25rem 0 1.25rem 1.25rem;
    margin-left: 1rem; }

.top-movie__title {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1rem 1rem;
  margin-bottom: 1.5rem; }

.header__logo-box {
  padding-right: 1rem;
  display: flex;
  align-items: center; }

.header__logo {
  fill: #fff;
  height: 4rem;
  width: 4rem; }

.header__text-box {
  display: flex;
  align-items: stretch; }

.search {
  flex: 0 0 30%;
  display: flex;
  align-items: center; }
  .search__form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
  .search__input {
    font-family: inherit;
    background-color: #373730;
    color: #9f9f9f;
    border: 2px;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.4), 1px 1px 0 rgba(255, 255, 255, 0.15);
    padding: 0.75rem 1.5rem;
    width: 90%;
    margin-right: -2.4rem;
    border-radius: 50px;
    outline: none;
    transition: width .3s ease; }
    .search__input:focus {
      width: 100%; }
  .search__button {
    height: 100%;
    width: 2.4rem;
    background-color: #405cfa;
    border: none;
    border-radius: 100px; }
    .search__button:focus {
      outline: none; }
  .search__icon {
    fill: #fff;
    width: 2rem;
    height: 2rem; }

nav {
  background-color: #272727;
  height: 4rem;
  border-top: 0.5rem solid #fceb08;
  display: flex;
  align-items: stretch; }

.navigation {
  max-width: 100rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: stretch; }
  .navigation__list {
    list-style-type: none;
    width: 100%;
    display: flex;
    align-items: stretch; }
  .navigation__item {
    position: relative;
    display: flex;
    align-items: stretch; }
  .navigation__link:visited, .navigation__link:link {
    display: flex;
    align-items: center;
    padding-right: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase; }
  .navigation__link:hover, .navigation__link:active {
    color: #fceb08; }
  .navigation__sub-container {
    width: 60rem;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #373730;
    z-index: 100; }
  .navigation__item-active > .navigation__sub-container {
    display: block; }
  .navigation__sub {
    list-style: none;
    display: flex;
    flex-wrap: wrap; }
  .navigation__sub-item {
    width: 25%; }
  .navigation__sub-link:link, .navigation__sub-link:visited {
    text-decoration: none;
    font-size: 1.3rem;
    color: #fff;
    display: block;
    padding: 1rem 1rem;
    background-color: #373730; }
  .navigation__sub-link:hover {
    background-color: #272727; }
