$color-black: #282828;
$color-red: #ed4f4f;
$color-red-2: #ed4f4f;
$color-red-3: #ca3b3b;
$color-grey: #797979;
$color-white: #fff;
$color-black-2: #4e4e4e;
$color-black-3: #797979;


$box-shadow: 0 .8rem 2rem 0 rgba(0, 0, 0, 0.06);
$box-shadow-2: 0 12px 30px 0 rgba(0, 0, 0, 0.3);
$box-shadow-3: 0 12px 30px 0 rgba(0, 0, 0, 0.06);
$box-shadow-hover: 0 .8rem 2rem 1rem rgba(0, 0, 0, 0.1);

$border:  1px dashed rgba(237, 79, 79, 1);