//////////////////////////////////////////
//NAVIGITION
nav {
    // background-image: url(http://www.phimmoi.net/styles/vtlai/movie/img/nav-bg.jpg);
    // background-repeat: repeat-x;
    background-color: $color-grey-dark-1;
    height: 4rem;
    border-top: .5rem solid $color-yellow;
    display: flex;
    align-items: stretch;
    
}
.navigation {
   
    max-width: 100rem;
    width: 100%;
    margin: 0 auto;
    
    display: flex;
    align-items: stretch;
    
    &__list {
       
       list-style-type: none;
       width: 100%;
      
       display: flex;  
       align-items: stretch;
    
    }

    &__item {
        position: relative;
        display: flex;
        align-items: stretch; 
    }

    &__link:visited,
    &__link:link {
        
        display: flex;
        align-items: center;
        padding-right: 2rem;
       
        font-size: 1.5rem;
        font-weight: 600;
        color: $color-white;
        text-decoration: none;
        text-transform: uppercase;
    }

    &__link:hover,
    &__link:active {

        color: $color-yellow;
    }
  
    &__sub-container {
        width: 60rem;
        
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: $color-grey-linght;
        z-index: 100;
  
    }
    // &__item:hover > &__sub-container {

    //     display: block;
    // }

    &__item-active > &__sub-container {
        display: block;
    }

    &__sub {
        
        list-style: none;
        display: flex;
        flex-wrap: wrap;   
    }

    &__sub-item {
        width: 25%;
            
    }

    &__sub-link:link,
    &__sub-link:visited {
        text-decoration: none;
        font-size: 1.3rem;
        color: $color-white;
        display: block;
        padding: 1rem 1rem;
        background-color: $color-grey-linght;
    }

    &__sub-link:hover {
        background-color: $color-grey-dark-1;
    }
}