extends template-part/layout.pug
block style
    link(rel="stylesheet", href="./css/blogdetails.css")
block title
    title Cách giữ bánh Gato ngon và lâu hơn, bảo quản bánh Gato

block heading
    h1.heading-primary.heading-primary--white Cách giữ bánh Gato ngon và lâu hơn, bảo quản bánh Gato
block title-2
    a(href="")
        p.banner-common__title-2.banner-common__title-2--active Tin Tức


block content
    .detail-blog
        .container
            .row
                .col-xl-9.col-lg-9.col-md-12.col-sm-12
                    .detail-blog__infor
                        h2.infor__heading-secondery Cách giữ bánh Gato ngon và lâu hơn, bảo quản bánh gato đúng cách
                        p.infor__time By 
                            span Admin 
                            |· 27/04/2020
                        
                    form.detail-blog__form
                .col-xl-3.col-lg-3.col-md-12.col-sm-12







block script
    script(src="./js/blogdetails.js")