.Toolbar {
    position: fixed;
    width: 100%;
    
    top: 0;
    left: 0;
    background: transparent;
    z-index: 10;

    & > .main-bar {
       background: rgba(12, 20, 29, .3);
    }
}

.main-bar {
    &__box {
        padding: 2rem 0;
    }
}
.logo {
    @media (max-width: 576px) {
        width: 13rem;
        margin: 0 auto;
        
    }
    
}
.icon {
    font-size: 2rem;
    display: flex;
    align-items: center;
    
    @media (min-width: 576px){
        display: none;
    }
 }

nav {
    display: flex;
    align-items: stretch;

}

@media (max-width: 576px){

    .DesktopOnly {
        display: none;
    }
    
}
