.Toolbar {
    position: fixed;
    width: 100%;
    
    top: 0;
    left: 0;
    background: transparent;
    z-index: 10;
    

    & > .main-bar {
        background: rgba(12, 20, 29, .3);

    }

}

.main-bar {
    &__box {
        padding: 2rem 0;
    }

    
   
}

.main-bar__nav {
   
}

.logo {
    @media (max-width: 576px) {
        width: 13rem;
        margin: 0 auto;
        
    }
    
}


nav {
    display: flex;
    align-items: stretch;

    
    
}
