////COLORS

$color-grey-dark: #777;
$color-grey-linght: #373730;
$color-grey-dark-1: #272727;
$color-grey-dark-2: #323031;
$color-grey-dark-3: #4F4E52;
$color-grey-dark-4: #b9b9b9;
$color-grey-dark-5: #2E2E2E;
$color-grey-dark-6: #666666;
$color-grey-dark-7: #555555;
$color-grey-dark-8: #545256;
$color-grey-dark-9:  #6f6d72;
$color-grey-dark-10:  #191919;

$color-black: #000000;
$color-black-1: #1a1a1a;
$color-black-2: #1b1b1b;
$color-black-2: #1c1c1c;
$color-yellow: #fceb08;

$color-red: #A21D0A;
$color-red-2: #FF8040;

$color-green: #46E1FF;

$color-white: #fff;

