////COLORS

$color-grey-dark: #777;
$color-grey-linght: #373730;
$color-grey-dark-1: #272727;
$color-grey-dark-2: #323031;
$color-grey-dark-3: #4F4E52;
$color-yellow: #fceb08;

$color-red: #A21D0A;


$color-white: #fff;